{{ package_name }} ({{ package_major_version }}.{{ package_minor_version }}.{{ package_patch_version }}.{{ package_num_commits }}-{{ package_git_hash }}) {{ cgran_debian_distribution }}; urgency=low
   {{ package_git_log }}
 -- {{ cgran_package_maintainer }}  {{ cgran_package_date }}
